<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <city-list></city-list>
  </div>
</template>

<script>
import cityList from './components/CityWeatherList/CItyWeatherList'

export default {
  name: 'app',
  components: {
    cityList
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
